@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poetsen+One&display=swap');

:root{
  --pri-color: #c52f21;
  --sec-color: #f17961;
  --con-color: #525f7a;
  --light-color: #eff1f4;
  --dark-color: #181c25;
}

.poetsen-one-regular {
  font-family: "Poetsen One", sans-serif;
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;
}

.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 600;
  font-style: normal;
  text-transform: capitalize;
  font-size:1.3rem;
  color: var(--pri-color);
}

.login-form{
  margin:auto;
  max-width:40vw;
}
